* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}

.top {
  display: flex;
  background-color: rgb(149, 202, 173);
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding-left: 36px;
}


.container .top .top-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .top .top-left h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color:rgb(14, 80, 14) ;
}
.container .top .top-left h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container .top .top-left button , .picture .info button{
  background-color: green;
  color: white;
  border: 0px;
  width: 100px;
  height: 30px;
}
.picture .info button:hover{
    background-color: transparent;
    border: 3px solid green;
    color: rgb(5, 37, 5);
    box-shadow: 5px 5px 6px 0px green;
    cursor: pointer;

}
.container .top .top-left button:hover{
   background-color: transparent;
   border: 3px solid green;
   color: rgb(5, 37, 5);
   box-shadow: 5px 5px 6px 0px green;
   cursor: pointer;
}
.container .top .top-right .picture {
  display: flex;

}
.container .top .top-right .picture .mean {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.container .top .top-right .image img {
  width: 87%;
}
.container .buttom {
  width: 100%;
  height: 650px;
  background-color: rgb(228, 244, 228);
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: -40px;
  padding-top: 20px;
}

.buttom > .buttom-top .header h2{
    margin-left: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(14, 80, 14);
   margin-top: 40px;
   font-size: 2rem;
}
.buttom > .buttom-top .header h1{
    margin-left: 530px;
    font-family:monospace;
    margin-top: 10px;
    font-size: 3rem;
 
}
.container .buttom .buttom-buttom {
  display: flex;
}
.container .buttom .buttom-buttom .picture .image img {
  width: 100%;
  height: 100%;
}
.container .buttom .buttom-buttom {
  margin: 30px 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  align-items: center;
}

.buttom-buttom > .picture {
  background: rgb(149, 202, 173);
  border: none;
  border: 20px;
  border-radius: 10px;
  align-items: center;
  width: 250px;
  transition: 0.3s;
}
.buttom-buttom > .picture:hover{
    transform: translateY(10px);
    box-shadow: 5px 5px 6px 0px green;
   
   
}
.container .top .top-right{
  margin-left: -500px;
}

.info{
    margin-left:70px ; 
    margin-bottom: 30px;
}
    .info h3{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(2, 46, 2);
    }
    .picture .icone {
        border: 2px solid rgb(4, 52, 4);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: rgb(181, 224, 200);
        position: relative;
        left: 45%;
        bottom: 23px;
    }
    .picture .icone i{
       padding: 5px;
    }
    @media screen and (max-width:1023px) {
        .container .top {
            display: flex;
            flex-wrap: wrap;
        }
.container .buttom-buttom{
    display: flex;
    flex-wrap: wrap;
}
    }